# Python_Basics

Baisc data type
*   bool : True , False
*   int : 95 , 21230
*   float : 3.14 , 2.7e5
*   complex : 3j , 5+9j
*   str : 'C4Lab' , "NTU"
*   list : ['apple', 'banana', 'orange']
*   tuple : (4, 3, 7)
*   set : {45, 123, 981} , set([3, 5, 7])
*   dict : {'game' : 'LOL', 'name' : 'matt'}

Variable rules and types
*	rules:Variables can only contain uppercase letters, lowercase letters, digits (0-9), and underscores (_). They are case-sensitive.       
    Variables must start with a letter or underscore, and cannot start with a digit. They cannot be Python reserved words (e.g., True).
*	type:You can use the type() function to determine the type of a variable.
*	Use print() to output the variables. Separate the contents with commas.
*   print(*object,sep='',end='')

In [1]:
_a = 1
print('_a',_a,type(_a))

B = 'C4Lab'
print('b',B,type(B))

c0 = True
print('c',c0,type(c0))

d_ = [1,2,3]
print('d',d_,type(d_))

e = (1,2,3)
print('e',e,type(e))

f = {_a:1,B:2}
print('f',f,type(f))
print('12','59','c4Lab',sep='-',end='!')

_a 1 <class 'int'>
b C4Lab <class 'str'>
c True <class 'bool'>
d [1, 2, 3] <class 'list'>
e (1, 2, 3) <class 'tuple'>
f {1: 1, 'C4Lab': 2} <class 'dict'>
12-59-c4Lab!

Arithmetic operations
*	Integer division: 3 // 2 = 1 , 17 // 5 = 3
*	Modulo: 9 % 2 = 1 , 9 % 5 = 4
*	Exponentiation: 3 ** 2 = 9 , 5 ** 3 = 125

In [2]:
a = 7
b = 2
print('a + b =',a + b)
print('a - b =',a - b)
print('a * b =',a * b)
print('a / b =',a / b)
print('Quotient: a // b =',a // b)
print('modulo: a % b =',a % b)
print('a to the bth power: a ** b =',a**b)

a + b = 9
a - b = 5
a * b = 14
a / b = 3.5
Quotient: a // b = 3
modulo: a % b = 1
a to the bth power: a ** b = 49

String
*	Strings can be created using quotation marks or str(): 'hello', "2", str(2).
*	Strings can be concatenated using the + operator: 'hello' + 'python' => 'hellopython'.
*	Characters can be accessed using [ ] brackets: [start: end(not inclusive): step].
*   If start is a negative number, it counts from the end (-1, -2, etc.), and both end and step should also be negative.

In [3]:
letters1 = 'abcdefg'
letters2 = 'hijklmn'
letters = letters1 + letters2
print(letters)  #'abcdefghijklmn'
print(letters[0])   #'a'
print(letters[-1])   #'n'
print(letters[6:13])    #'ghijklm'
print(letters[1::2])    #'bdfhjln'
print(letters[-3:])    #'lmn'
print(letters[-1::-1])  #'nmlkjihgfedcba'
print(letters[-5:-11:-2])   #'jhf'
string1=1
print(type(string1))
string1=str(1)
print(type(string1))

abcdefghijklmn
a
n
ghijklm
bdfhjln
lmn
nmlkjihgfedcba
jhf
<class 'int'>
<class 'str'>

*	Use str.split(separator, maxsplit) to split a string
*	Use str.replace(oldvalue, newvalue, maxreplace) to replace values in a string.
*	Use str.strip([chars]) to remove leading and trailing characters.

In [4]:
a = "C4Lab/is/very-very-good."
print(a.split('/'))	#['C4Lab', 'is', 'very-very-good.']
print(a.split('-', 1)) #['C4Lab/is/very', 'very-good.']

['C4Lab', 'is', 'very-very-good.']
['C4Lab/is/very', 'very-good.']

In [5]:
a = "C4Lab/is/very-very-good."
print(a.replace('/',' '))	#C4Lab is very-very-good.
print(a.replace("very","super", 1)) #C4Lab/is/super-very-good.

C4Lab is very-very-good.
C4Lab/is/super-very-good.

In [6]:
a = "!*.!!only.?!*letters..!?*?*!"
a.strip('.?!*')	#'only.?!*letters'
# how to remove all symbol?

'only.?!*letters'

*	Use str.startswith() to check the beginning of a string.
*   Use str.endswith() to check the end of a string.

In [7]:
a = 'chrATCG'
print(a.startswith('c'))		 #True
print(a.startswith('C'))        #False
print(a.endswith('G'))		  #True
print(a.endswith('5'))      #False

True
False
True
False

*	Use str.find(chars, start, end) to search for a substring within a string.
*   If the substring is not found, it returns -1.
*   If the substring is found, it returns the starting index of the first occurrence of the substring.

In [10]:
a = '/atcg/ATCG'
print(a.find('/'))		#0
print(a.find('/',3,6))	#5
print(a.find('/',5))	#-1
print(a.find('TC'))     #7
print(a.find('X'))		#-1

0
5
5
7
-1

*	Convert all characters to uppercase using upper().
*   Convert all characters to lowercase using lower().

In [ ]:
a = 'atcgATCG'
print(a.upper())    #ATCGATCG
print(a.lower())    #atcgatcg

ATCGATCG
atcgatcg

*	Use len() to get the number of elements.
*	Use in to check if a value exists.

In [ ]:
a = 'atcgATCG'
print(len(a))
print('a' in a)
print('b' in a)

8
True
False

list
*	list is composed of zero or more elements, separated by commas, and enclosed in square brackets [ ].

In [ ]:
a = []
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

*	Use len() to get number of element
*	Use del to delete element(index)
*	Use in to check the existence of an element

In [ ]:
print('len',len(a))
print('e' in a)
print('b' in a)
print('a',a)
del a[1:4]
print('a',a)
print('e' in a)
print('b' in a)

len 7
True
True
a ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a ['a', 'e', 'f', 'g']
True
False

*	Use append(obj) to add an item to the end.
*	Use insert(index, obj) to insert an item at a specific position.
*	Use sort() to arrange the elements in ascending order. The elements must be of the same type. Use reverse to sort in descending order.

In [ ]:
a = ['a', 'b', 'c', 'd', 'h', 'i']
a.append('a')		 #a = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’, ‘a’]
print(a)
a.insert(1, 'g')		#a = [‘a’, ‘g’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’, ‘a’]
print(a)
a.sort()			  #a = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’, ‘g’]
print(a)
a.sort(reverse=True)
print(a)

['a', 'b', 'c', 'd', 'h', 'i', 'a']
['a', 'g', 'b', 'c', 'd', 'h', 'i', 'a']
['a', 'a', 'b', 'c', 'd', 'g', 'h', 'i']
['i', 'h', 'g', 'd', 'c', 'b', 'a', 'a']

Dictionary
*	A dictionary is used to access element values using keys other than numeric indices. It can be created using curly braces { }
*	Use [key] to add or modify an item in the dictionary.

In [ ]:
food = {'A': 'rice', 'B': 'noodle'}
print('food[A]',food['A'])
print('food',food)

food['C'] = 123
print('food',food)

food['B'] = True, 1+3j
print('food',food)

food[A] rice
food {'A': 'rice', 'B': 'noodle'}
food {'A': 'rice', 'B': 'noodle', 'C': 123}
food {'A': 'rice', 'B': (True, (1+3j)), 'C': 123}

*	Use keys() to get all the keys in the dictionary.
*	Use values() to get all the values in the dictionary.
*	Use items() to get each key/value pair in the dictionary.

In [ ]:
print(food.keys())
print(food.values())
print(food.items())

dict_keys(['A', 'B', 'C'])
dict_values(['rice', (True, (1+3j)), 123])
dict_items([('A', 'rice'), ('B', (True, (1+3j))), ('C', 123)])

tuple
*    Tuples and lists are are both iterable (can be looped over) 
*    Tuples cannot be modified once created.
*   You need to add a comma when there's only one element in a tuple

In [ ]:
number = 0, 10, 55, 72, 88, 120, 66
one = (8)
only_one = (8,)
print(type(one),type(only_one),type(number))
print(number[3])
print(number[-2])
print(number[1:6:2])

<class 'int'> <class 'tuple'> <class 'tuple'>
72
120
(10, 72, 120)

set
*  A set is an unordered collection of unique elements. It does not contain duplicate values.
*  Use the add(value) method to add a new element to the set. Use the remove(value) method to remove an element from the set.

In [12]:
set1 = set()  #Creating an empty set using set()
set2 = {2, 1, 4, 5, 3}  #Creating a set with elements using curly braces { }
set3 = {1, 1, 2, 2, 3}  #The elements in a set are unique.

print(set1)
print(set2)
print(set3)
set3.add(4)
set2.remove(2)
print(set2)
print(set3)

{1, 2, 3, 4, 5}
{1, 2, 3, 12}
{1, 3, 4, 5}
{1, 2, 3, 4, 12}

if/while/for

if condittion

    if condition:
      execute the statement
    elif condition:
      execute the statement
    else:
      execute the statement

In [ ]:
a = 2
if(a == 1):
  print('a is ',a)
elif(a == 2):
  print('aa is ',a)
elif(a == 3):
  print('aaa is ',a)
else:
  print('aaaa is ',a)

aa is  2

（&，|）和（and，or）
* a & b, a | b, a and b, a or b
* If a and b are both boolean values, there is no difference between using (and &),( or |).
* If a and b are numerical variables, & and | perform bitwise operations.
*   input> & |
*    0 0 >> 0 0
*    1 0 >> 0 1
*    0 1 >> 0 1
*    1 1 >> 1 1

In [ ]:
a = 10 #1010
b = 9 #1001
print(a & b)  #8 = 1000
print(a | b)  #11 = 1011

c = True
d = False
print(c & d)  #False
print(c | d)  #True

8
11
False
True

* (and , or) are logical operators used to check if a value is 0. In Python, 0 is considered False, while any non-zero value is considered  True.
* In the and operation, if any of the values is 0 (False), the result will be 0 (False); otherwise, the result will be the last evaluated 
  value
* In the or operation, if any of the values is non-zero (True), the result will be the first non-zero value encountered; otherwise, the 
  result will be 0 (False).

In [22]:
a = 10 #1010
b = 9 #1001
zero = 0
print(a and b)  #9
print(a or b)  #10
print(a and zero) #0
print(a or b or zero) #10
print(b or a or zero) #9

c = True
d = False
print(c and d)  #False
print(c or d)  #True

9
10
10
10
9
False
True

while function:

    while condition:

      if condition:
        continue
      if condition:
        break

In [ ]:
a = -1
while a < 5:
  a = a + 1
  print(a)

0
1
2
3
4
5

*   break: Terminates the loop immediately when a condition is met.
*   continue: Skips the remaining code in the current iteration when a condition is met.
*   pass: Ignores the condition and continues executing the loop normally.

In [5]:
a = -1
while True:
  a = a + 1

  if(a == 10):
    print('it is', a,'now')
    break
  elif(a == 5):
    print('it is', a,'1 now')
    continue
    print('it is', a,'2 now')
  elif(a == 4):
    print('it is', a,'1 now')
    pass
    print('it is', a,'2 now')
  else:
    print('it is', a,' now')
  print('number', a)
print('It is done')

it is 0  now
number 0
it is 1  now
number 1
it is 2  now
number 2
it is 3  now
number 3
it is 4 1 now
it is 4 2 now
number 4
it is 5 1 now
it is 6  now
number 6
it is 7  now
number 7
it is 8  now
number 8
it is 9  now
number 9
it is 10 now
It is done

range function>>range(start, end, step)
* start: The counting starts from the start value. By default, it starts from 0. For example, range(5) is equivalent to range(0, 5)
* stop: The counting stops at the stop value, but it does not include the stop value itself. For example, range(0, 5) generates the sequence [0, 1, 2, 3, 4], where 5 is not  included.
* step: The step value determines the increment between each number in the sequence. It defaults to 1. For example, range(0, 5) is equivalent to range(0, 5, 1)

In [15]:
a = range(10)
print(type(a))
print(a)

<class 'range'>
range(0, 10)
<class 'range'>
range(2, 10, 3)

for function:

    for i in sequence:
      Code to be executed

In [ ]:
for i in range(5):
  print(i)

print('-------')

for i in range(0,10,3):
  print(i)

0
1
2
3
4
-------
0
3
6
9

In [16]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

for i in a:
  print(i)

for i in range(len(a)):
  print(i,a[i])

a
b
c
d
e
f
g
0 a
1 b
2 c
3 d
4 e
5 f
6 g

In [23]:
food = {'A': 'rice', 'B': 123, 'C': ['pizza','155']}

for key in food.keys():
  print(key)

for value in food.values():
  print(value)

for item in food.items():
  print(item)

for i in food:
    print(i)

A
B
C
rice
123
['pizza', '155']
('A', 'rice')
('B', 123)
('C', ['pizza', '155'])
A
B
C

practice 1:

given a sequence of atcg ,please output the total count of a,t,c,g respectively

output format(a: count,t: count,c: count,g: count)

In [ ]:
seq = 'gcccagtctgtgacccagcttgacagccaagtccctgtctttgaagaagcccctgtggagctgaggtgcaactactcatcgtctgtttcagtgtatctcttctggtatgtgcaataccccaaccaaggactccagcttctcctgaagtatttatcaggatccaccctggttgaaagcatcaacggttttgaggctgaatttaacaagagtcaaacttccttccacttgaggaaaccctcagtccatataagcgacacggctgagtacttctgtgctgtgagtga'
######## TODO ########

a: 69 t: 77 c: 75 g: 63

print('a:', seq.count('a'), 't:', seq.count('t'), 'c:', seq.count('c'), 'g:', seq.count('g'))

Function Structure:

The function structure in Python using the def keyword is as follows:

    def function_name(parameter):
      code to be execute
      return

In [24]:
def caculate(num1,num2):
  devide = num1 / num2
  mult = num1 * num2
  return devide,mult
def sum(_1,_2):
  return _1 + _2
def replace_word(word, old, new):
    word = word.replace(old,new)
    return word

a = 12
b = 7
total = sum(a,b)
print(total)

de , mu = caculate(a,b)
print(de,mu)

voc = 'cat'
old_char = 'a'
new_char = 'u'
new_voc = replace_word(voc, old_char, new_char)
print(voc)
print(new_voc)

19
1.7142857142857142 84
cat
cut

Practice 2
* Sequence Alignment Scoring
* Given two sequences, calculate the score using a function with the following scoring scheme: +2 for a match, -1 for a mismatch, and -2 for a gap.
* upload code to 2024_summer_week1

In [ ]:
def score_align(seq1, seq2):
  ######## TODO ########

  return 0

seq1 = '--AGTGCATG-ACATA'
seq2 = 'TCAGTC--TCTACAGA'

score_align(seq1,seq2)

* Class: A class is like a blueprint that can be used to create instances (objects) with similar characteristics
* The \_\_init___ method is used to initialize the variables of an object within a class.
* To assign a value to a variable of an object, you can use the syntax object_name.variable_name = variable_value.

In [2]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return f"{self.name} makes a sound"

# Define the child class, inheriting from Animal
class Dog(Animal):
    def __init__(self, name, breed):
        Animal.__init__(self, name)  # Directly call the parent class constructor
        self.breed = breed

    def speak(self):
        # Directly call the parent class speak method and extend its functionality
        base_speak = Animal.speak(self)
        return f"{base_speak} and barks"

class Cat(Animal):
    def __init__(self, name, color):
        Animal.__init__(self, name)  # Directly call the parent class constructor
        self.color = color

    def speak(self):
        # Directly call the parent class speak method and extend its functionality
        base_speak = Animal.speak(self)
        return f"{base_speak} and meows"

# Create objects
dog = Dog("Buddy", "Golden Retriever")
cat = Cat("Whiskers", "Tabby")

# Use the objects
print(dog.speak())  # Output: Buddy makes a sound and barks
print(cat.speak())  # Output: Whiskers makes a sound and meows

Buddy makes a sound and barks
Whiskers makes a sound and meows

* Recursion:Recursion is a method of solving problems where a function calls itself directly or indirectly. It is often used to break down complex problems into simpler, smaller sub-problems which can be solved more easily.
* Base Case: The condition under which the recursion ends to prevent infinite loops.
* Recursive Case: The part of the function where it calls itself to solve a smaller sub-problem.

In [8]:
def factorial(n):
    # Base case
    if n == 0:
        return 1
    # Recursive case
    else:
        return n * factorial(n - 1)
print(factorial(5))  # Output: 120

120

With open() function: you can open a file in various modes. Here are the different ways:

    with open(path, type) as variable:
    # Code to execute:
      

* type	info
* 'r': Open the file in read-only mode. The file pointer will be placed at the beginning of the file. This is the default mode
* 'w': Open the file for writing. If the file already exists, it will be overwritten. If the file does not exist, a new file will be created.
* 'a': Open the file for appending. If the file exists, the file pointer will be placed at the end of the file. This means that new content will be written after the existing content. If the file does not exist,     a new file will be created for writing

In [ ]:
with open('/your_path/test.txt' , 'w') as f: #create a file call test
  for i in range(10):
    f.write(str(i)+'\n')                     #write in 0-9

with open('/your_path/test.txt' , 'r') as f: #read file call test
  for i in f:                                #To obtain each line of a file using iteration
    print(i)

The answer to the first question

In [26]:
seq = 'gcccagtctgtgacccagcttgacagccaagtccctgtctttgaagaagcccctgtggagctgaggtgcaactactcatcgtctgtttcagtgtatctcttctggtatgtgcaataccccaaccaaggactccagcttctcctgaagtatttatcaggatccaccctggttgaaagcatcaacggttttgaggctgaatttaacaagagtcaaacttccttccacttgaggaaaccctcagtccatataagcgacacggctgagtacttctgtgctgtgagtga'

a_count = 0
t_count = 0
c_count = 0
g_count = 0

for n in seq:
    if n == 'a':
        a_count += 1
    elif n == 't':
        t_count += 1
    elif n == 'c':
        c_count += 1
    elif n == 'g':
        g_count += 1

output = f"a: {a_count}, t: {t_count}, c: {c_count}, g: {g_count}"
print(output)

a: 69, t: 77, c: 75, g: 63

The answer to the second question

In [5]:
seq1 = '--AGTGCATG-ACATA'
seq2 = 'TCAGTC--TCTACAGA'
def score_align(seq1, seq2):
    score = 0
    for char1, char2 in zip(seq1, seq2):
        if char1 == '-' or char2 == '-':
            score -= 2
        elif char1 == char2:
            score += 2
        else:
            score -= 1
    return score
result = score_align(seq1, seq2)
print(f"The alignment score is: {result}")

The alignment score is: 3